@use './colors.scss';
@use './fonts.scss';

.about-background {
  width: 100vw;
  height: auto;
  background-color: colors.$secondary-color;
  position: relative;
  z-index: 1;
}

.about-background-overlay {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 3;
}

.about-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5%;
  padding-left: 8%;
  padding-right: 8%;
  position: relative;
  z-index: 4;
}

.about-header-text {
  color: colors.$about-font-color;
  font-size: larger;
}

.about-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.seaforth {
  height: 60%;
  width: 60%;
  margin-left: 5%;
}

.about-story {
  padding: 5%;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  // background-color: colors.$tertiary-color;
  // width: 140px;
  // height: 40px;
}

.read-more-button {
  border-width: 0;
  background-color: colors.$tertiary-color;
  // background-color: transparent;
  opacity: 0.6;
  pointer-events: auto;
  position: relative;
  padding: 10px;
  // z-index: 2;
}

.read-more-button-text {
  letter-spacing: 0.3em;
  font-family: "Poppins";
  font-weight: 400;
  opacity: 1;
  color: #000000;
}