$primary-color: #F4F1E2;
$secondary-color: #F7C7BC;
$secondary-bg-overlay: rgba(247, 199, 188, 0.5);
// $about-bg-overlay: linear-gradient(rgba(247, 199, 188, 0.5), rgba(247, 199, 188, 0.5));
$tertiary-color: #B8C591;
$tertiary-bg-overlay: (184, 197, 145, 0.5);
$tourdates-font-color: #2A2E39;
$about-font-color: #6E6A6A;
$music-videos-font-color: #2B2929;
$about-body-font-color: #111113;

// unused colors
// $-color: #000000;
// $-color: #001926;