$primary-color: #F4F1E2;
$secondary-color: #F7C7BC;
$tertiary-color: #B8C591;
$tourdates-font-color: #2A2E39;
$about-font-color: #6E6A6A;
$music-videos-font-color: #2B2929;
$about-body-font-color: #111113;

// unused colors
// $-color: #000000;
// $-color: #001926;