@use './colors.scss';
@use './breakpoints.scss';

.music-background-color {
  background-color: colors.$secondary-color;
}

.music-content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  

  margin-top: 3%;
  margin-bottom: 3%;

  height: auto;
  width: 100%;
  @include breakpoints.respond-to(sm) {
  width: 75%;
  }
}

.selected-music-content-container {
  display: block;

  @include breakpoints.respond-to(sm) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

.arrow {
  width: 20px;
  height: auto;
  padding: 10px;
  transition: all .2s ease-in-out; 
  cursor: pointer;
}

.arrow:hover {
  transform: scale(1.3); 
}

.album-cover-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  @include breakpoints.respond-to(sm) {
    width: 55%;
  }
}

.album-cover {
  object-fit: contain;
}

.player-social-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 10%;
  width: 100%;
  @include breakpoints.respond-to(sm) {
    margin-top: 0;
    width: 45%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
}

.player-container {
  width: 60%;
}

.player {
  object-fit: contain;
  width: 100%;
}

.player-album-cover-container {
  width: 60%;
}

.player-album-cover {
  object-fit: contain;
  width: 100%
}

.music-social-icons {
  display: flex;
  justify-content: center;
  margin: 7%;
}

.social-icon {
  display: flex;
  max-width: 14%;
  transition: all .2s ease-in-out; 
  cursor: pointer;
}

.social-icon:hover {
  transform: scale(1.1);
}