@use '../scss/colors.scss';
@use '../scss/breakpoints.scss';

.tourdates-background-image {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 35%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);

}

.tour-dates-font-color {
  color: colors.$mid-black-font-color;
}

.schedule-container {

  margin-top: 4%;
  width: 100%;

  @include breakpoints.respond-to(md) {
    width: 80%;
  }

  @include breakpoints.respond-to(lg) {
    width: 60%;
  }
}

.show-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 8%;

  @include breakpoints.respond-to(md) {
    align-items: flex-start;
    flex-direction: row;
    padding: 1%;
    margin: 0;
  }
}

.date-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 110px;

  @include breakpoints.respond-to(md) {
    margin-right: 2%;
  }
}

.show-details-container {
  display: block;
  width: 90%;

  @include breakpoints.respond-to(md) {
    width: 65%;
  }
}

.show-details-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;

  @include breakpoints.respond-to(md) {
    display: block;
    width: 100%;
  }
}

.show-details-container p {
  font-size: .9em;
}

.show-details-state-tickets {
  display: block;

  @include breakpoints.respond-to(lg) {
    display: flex;
  }

}

.buy-tickets-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;

}

.buy-tickets-button-container button {
  background-color: colors.$tertiary-color;
  color: colors.$mid-black-font-color;
  border-width: 0;
  height: 30px;
  width: 80px;
}

.buy-tickets-button-container button:hover {
  cursor: pointer;
  background-color: colors.$mid-black-font-color;
  color: colors.$tertiary-color;

}

.view-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  @include breakpoints.respond-to(md) {
    width: 80%;
  }

  @include breakpoints.respond-to(lg) {
    width: 60%;
  }
}

.view-more-container button {
  background-color: colors.$tertiary-color;
  border-width: 0;
  height: 37px;
  width: 160px;
  margin-top: 5%;
  margin-bottom: 3%;
}

.view-more-container button:hover {
  cursor: pointer;
  background-color: colors.$mid-black-font-color;
  color: colors.$tertiary-color;

}

.view-more-container span {
  letter-spacing: 0.3em;
}